### Maven ###
target/
!.mvn/wrapper/maven-wrapper.jar

### IntelliJ IDEA ###
.idea/
*.iml
*.ipr
*.iws
out/

### VS Code ###
.vscode/

### Eclipse ###
.project
.classpath
.settings/

### NetBeans ###
/nbproject/private/
/build/
/dist/

### Mac OS ###
.DS_Store

### Kotlin ###
### Kotlin ###
.kotlin/

allure-report/